.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  align-items: center;
  place-items: center;
  // place-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  z-index: 100;

  h1 {
    font-size: 30px;
    font-weight: 700;
    font-family: "Libertinus Serif", serif;
    text-align: center;
  }
  p {
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  button {
    margin-top: 10px;
    background-color: #471396;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    color: white;
    &:hover {
      box-shadow: 5px 5px 10px #3512b3;
      cursor: pointer;
    }
  }
}
.background {
  position: absolute;
  z-index: 99;
  background-color: rgba(60, 61, 60, 0.473);
  inset: 0;
}
@media screen and (max-width: 760px) {
  .modal {
      width: 80%;
    h1{
        font-size:28px;
    }
  }
}
