header {
  display: flex;
  flex-direction: column;
  .header-content {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #232122;
    align-items: center;
    .header-group {
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 35px;
          height: 100%;
        }
        span {
          font-size: 33px;
          font-weight: 550;
          color: white;
          margin-left: 3px;
        }
      }
      .menu {
        display: none;
      }
    }
    .search {
      input {
        padding: 7px;
        margin: 10px;
        border-radius: 13px;
        background-color: #282828;
        color: white;
      }
    }
  }
  nav {
    background-color: #000000;
    color: white;
    padding: 10px;
    display: inline-flex;
    ul {
      display: flex;
      li {
        cursor: pointer;
        font-size: 16px;
        padding-left: 30px;
        display: flex;
        white-space: nowrap;
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .menuItem {
    position: relative;
    z-index: 10;
    ul {
      display: inline-block;
      background-color: rgb(55, 58, 58);
      padding: 10px 20px;
      color: white;
      li {
        margin-bottom: 12px;
        font-size: 15px;
        font-weight: 470;
      }
    }
    .menuItemTheLoai {
      ul {
        position: absolute;
        top: 0;
        margin-left: 120px;
      }
    }
    .menuItemQuocGia {
      ul {
        position: absolute;
        top: 0;
        margin-left: 240px;
      }
    }
    .menuItemNam {
      ul {
        position: absolute;
        top: 0;
        margin-left: 370px;
      }
    }
  }
}
@media screen and (max-width: 780px) {
  header {
    .header-content {
      flex-direction: column;
      background-color: #232122;
      padding: 0;
      .header-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-left: 10px;
        margin-right: 20px;
        .logo {
          align-items: center;
          padding: 10px;
          svg {
            width: 30px;
            height: 100%;
          }
          span {
            font-size: 27px;
            font-weight: 550;
            color: white;
            margin-left: 3px;
          }
        }
        .menu {
          display: inline;
          width: 35px;
          height: 100%;
        }
      }

      .search {
        background-color: #000000;
        width: 100%;
        input {
          margin: 7px;
          border-radius: 13px;
          background-color: #282828;
          color: white;
          width: 93%;
          padding: 5px;
        }
        input::placeholder {
          font-size: 15px;
          padding-left: 10px;
        }
      }
      .groupMenu {
        position: absolute;
        z-index: 20;
        top: 60px;
        left: 0px;
        right: 0;
        background-color: rgb(23, 23, 27);

        ul {
          li {
            border: none;
            border-bottom: 1px solid rgb(60, 58, 58);
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 17px;
            color: rgb(249, 249, 249);
            h1 {
              padding-left: 25px;
              padding-top: 15px;
              padding-bottom: 10px;
              width: 100%;
              height: 100%;
            }
            svg {
              border-left: 1px solid black;
              width: 55px;
              height: 100%;
              font-weight: 900;
              padding-right: 10px;
              padding-left: 10px;
            }
          }
          ul {
            padding-left: 25px;
            background-color: #333333;
            li {
              border: none;
              padding: 10px;
              font-size: 17px;
            }
          }
        }
      }
    }
    nav {
      display: none;
    }
  }
}
